* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.confirmingOrder {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.orderDetails {
  background-color: #50d074;
  width: 90%;
  height: 34%;
  border-radius: 9px;
  box-shadow: 0px 0px 10px 1px #00000040;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.orderDetails>div:nth-child(1),
.orderDetails>.fazerPedido,
.orderDetails>div:nth-child(4) {
  font-weight: 700;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderDetails>div:nth-child(1),
.orderDetails>div:nth-child(4) {
  color: #ffffff;
}

.orderDetails>.fazerPedido {
  background-color: #ffffff;
  color: #50d074;
  width: 88%;
  height: 14%;
  border-radius: 100px;
}

.itens {
  width: 86%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itens>div {
  display: flex;
  justify-content: space-between;
}

.itens div {
  font-weight: 300;
  font-size: 22px;
  color: #ffffff;
}

.itens div:nth-child(4) * {
  font-weight: 700;
}

.orderPage {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #e5e5e5;
}

.top {
  background-color: #cf2b2b;
  width: 100%;
  height: 92px;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 18px;
  box-shadow: 0 5px 3px rgb(165, 165, 165);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.top div {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 400;
}

.top div:nth-child(1) {
  font-size: 44px;
  font-family: "Righteous", cursive;
  width: fit-content;
  height: fit-content;
}

.bottom {
  background-color: #ffffff;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.orderConditionNegative {
  background-color: #cbcbcb;
  border-radius: 50px;
  width: 88%;
  height: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.orderConditionPositive {
  background-color: #32b72f;
  border-radius: 50px;
  width: 88%;
  height: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.foodSections {
  width: 100%;
  padding-left: 19px;
  padding-top: 31px;
  padding-bottom: 16px;
  margin-top: 92px;
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.foodSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionName {
  background-color: #e5e5e5;
  color: #333333;
  text-align: start;
  font-family: "Righteous", cursive;
  font-size: 26px;
}

.foodOptions {
  display: flex;
  gap: 16px;
  overflow-x: auto;
}

.foodOption {
  background-color: #ffffff;
  width: 172px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  box-shadow: 1px 1px 0 rgb(204, 204, 204);
  border-radius: 9px;

}

.foodOption * {
  margin-left: 14px;
}

.foodOption img {
  width: 144px;
  height: 87px;
  object-fit: cover;
}

.foodOption div:nth-child(2) {
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}

.foodOption div:nth-child(3) {
  font-weight: 300;
  font-size: 15px;
  color: #a6a6a6;
}

.foodOption div:nth-child(4) {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.foodOption ion-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 16px;
  color: #32b72f;
}

.selecionado {
  border: 5px solid #32b72f;
}

.hidden {
  display: none;
}